<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>

<div th:each="person : ${people}">
    <a th:href="@{/people/admin/{id}(id=${person.id})}" th:text="${person.name}">user</a>
</div>

<br/>
<hr/>

<a href="/people/admin/new">Create new person</a>
<br/><br/>
<hr>

<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Exit system</button>
</form>
</body>
</html>