<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <form th:action="@{/login}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <label for="username">Username:</label>
        <input type="text" id="username" name="j_username"/>
        <br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="j_password"/>
        <br/>
        <input type="submit" value="Login"/>
    </form>
</div>
</body>
</html>