<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.getName()}">VALUE</p>
<p th:text="${person.getAge()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>
<p>Roles:
    <span th:each="role : ${person.roles}" th:text="${role.name} + '  '"></span>
</p>

<div sec:authorize="hasRole('ROLE_ADMIN')">
     <a th:href="@{/people/admin/{id}/edit(id=${person.getId()})}">Edit</a>

    <form th:method="DELETE" th:action="@{/people/admin/{id}(id=${person.getId()})}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
               <input type="submit" value="Delete">
    </form>
</div>
<br/><br/>
<hr>
<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Exit system</button>
</form>
</body>
</html>